In [1]:
import pandas as pd

#To import a CSV file
df = pd.read_csv("goodEducation.csv")

In [2]:
print(df)

                   Content  YesCount  NoCount  PercentYes  PercentNo
0              My Teachers     18358    17065    0.518251   0.481749
1                    Other     12432     9130    0.576570   0.423430
2  Motivated and Work Hard     11918     8715    0.577618   0.422382
3          Size of Classes      3969     2154    0.648212   0.351788
4      Books and Resources      3790     2544    0.598358   0.401642
5              My Teachers      1186     2883    0.653359   0.481749

In [3]:
#To select the first few entries
print(df.head(3))

                   Content  YesCount  NoCount  PercentYes  PercentNo
0              My Teachers     18358    17065    0.518251   0.481749
1                    Other     12432     9130    0.576570   0.423430
2  Motivated and Work Hard     11918     8715    0.577618   0.422382

In [4]:
#To select the last few entries
print(df.tail(3))

               Content  YesCount  NoCount  PercentYes  PercentNo
3      Size of Classes      3969     2154    0.648212   0.351788
4  Books and Resources      3790     2544    0.598358   0.401642
5          My Teachers      1186     2883    0.653359   0.481749

In [5]:
#To import an excel file
#df_xlsx = pd.read_excel("goodEducation.xlsx")

In [6]:
#To read from a tab separated text file

df2 = pd.read_csv('goodEducation.csv',delimiter='\t')
#The delimiter can be anything that separates the data.

In [7]:
df2

       Content,YesCount,NoCount,PercentYes,PercentNo
0    My Teachers,18358,17065,0.518250854,0.481749146
1           Other,12432,9130,0.576569891,0.423430109
2  Motivated and Work Hard,11918,8715,0.577618378...
3  Size of Classes,3969,2154,0.648211661,0.351788339
4  Books and Resources,3790,2544,0.598358068,0.40...
5      My Teachers,1186,2883,0.653358629,0.481749146

# Reading Data in Pandas

In [8]:
#Reading headers

print(df.columns)

Index(['Content', 'YesCount', 'NoCount', 'PercentYes', 'PercentNo'], dtype='object')

In [9]:
#Reading a particular column

print(df['Content'])

0                My Teachers
1                      Other
2    Motivated and Work Hard
3            Size of Classes
4        Books and Resources
5                My Teachers
Name: Content, dtype: object

In [10]:
#Reading a particular column with limit of rows

print(df['Content'][0:2])

0    My Teachers
1          Other
Name: Content, dtype: object

In [11]:
#Reading a multiple columns

print(df[['Content', 'PercentYes', 'PercentNo']] [1:3])             #pass the names of the columns as an array

                   Content  PercentYes  PercentNo
1                    Other    0.576570   0.423430
2  Motivated and Work Hard    0.577618   0.422382

In [12]:
#Reading a specific row

df.iloc[2]

Content       Motivated and Work Hard
YesCount                        11918
NoCount                          8715
PercentYes                   0.577618
PercentNo                    0.422382
Name: 2, dtype: object

In [13]:
#Reading a multiple specific rows

print(df.iloc[2:4])

                   Content  YesCount  NoCount  PercentYes  PercentNo
2  Motivated and Work Hard     11918     8715    0.577618   0.422382
3          Size of Classes      3969     2154    0.648212   0.351788

In [14]:
#Reading a specific location (row,column) using iloc

df.iloc[1,2]

9130

In [15]:
#Iterating through the data frame using iterrows()

for index, row in df.iterrows():
    print(index, row)

0 Content       My Teachers
YesCount            18358
NoCount             17065
PercentYes       0.518251
PercentNo        0.481749
Name: 0, dtype: object
1 Content         Other
YesCount        12432
NoCount          9130
PercentYes    0.57657
PercentNo     0.42343
Name: 1, dtype: object
2 Content       Motivated and Work Hard
YesCount                        11918
NoCount                          8715
PercentYes                   0.577618
PercentNo                    0.422382
Name: 2, dtype: object
3 Content       Size of Classes
YesCount                 3969
NoCount                  2154
PercentYes           0.648212
PercentNo            0.351788
Name: 3, dtype: object
4 Content       Books and Resources
YesCount                     3790
NoCount                      2544
PercentYes               0.598358
PercentNo                0.401642
Name: 4, dtype: object
5 Content       My Teachers
YesCount             1186
NoCount              2883
PercentYes       0.653359
PercentNo        0.481749
Name: 5, dtype: object

In [16]:
#Iterating through the data frame and specifying columns

for index, row in df.iterrows():
    print(index, row['Content'])
    
print()

for index, row in df.iterrows():
    print(index, row['Content'], row['YesCount'])

0 My Teachers
1 Other
2 Motivated and Work Hard
3 Size of Classes
4 Books and Resources
5 My Teachers

0 My Teachers 18358
1 Other 12432
2 Motivated and Work Hard 11918
3 Size of Classes 3969
4 Books and Resources 3790
5 My Teachers 1186

In [17]:
#Filtering rows based on value of a column using loc

df.loc[df['Content'] == 'My Teachers']

       Content  YesCount  NoCount  PercentYes  PercentNo
0  My Teachers     18358    17065    0.518251   0.481749
5  My Teachers      1186     2883    0.653359   0.481749

In [18]:
#Describing the data frame for the count, mean, and other factors

df.describe()

           YesCount       NoCount  PercentYes  PercentNo
count      6.000000      6.000000    6.000000   6.000000
mean    8608.833333   7081.833333    0.595395   0.427123
std     6640.197299   5814.318719    0.050556   0.049656
min     1186.000000   2154.000000    0.518251   0.351788
25%     3834.750000   2628.750000    0.576832   0.406827
50%     7943.500000   5799.000000    0.587988   0.422906
75%    12303.500000   9026.250000    0.635748   0.467169
max    18358.000000  17065.000000    0.653359   0.481749

In [19]:
#Sorting values in Ascending Order

df.sort_values('Content')

                   Content  YesCount  NoCount  PercentYes  PercentNo
4      Books and Resources      3790     2544    0.598358   0.401642
2  Motivated and Work Hard     11918     8715    0.577618   0.422382
0              My Teachers     18358    17065    0.518251   0.481749
5              My Teachers      1186     2883    0.653359   0.481749
1                    Other     12432     9130    0.576570   0.423430
3          Size of Classes      3969     2154    0.648212   0.351788

In [20]:
#Sorting values in Descending Order

df.sort_values('Content', ascending=False)

                   Content  YesCount  NoCount  PercentYes  PercentNo
3          Size of Classes      3969     2154    0.648212   0.351788
1                    Other     12432     9130    0.576570   0.423430
0              My Teachers     18358    17065    0.518251   0.481749
5              My Teachers      1186     2883    0.653359   0.481749
2  Motivated and Work Hard     11918     8715    0.577618   0.422382
4      Books and Resources      3790     2544    0.598358   0.401642

In [21]:
#Sorting multiple values with ascending and descending for each
#Here 1 means True(Ascending) and 0 is Vice Versa

df.sort_values(['Content', 'YesCount'], ascending=[1,0])

                   Content  YesCount  NoCount  PercentYes  PercentNo
4      Books and Resources      3790     2544    0.598358   0.401642
2  Motivated and Work Hard     11918     8715    0.577618   0.422382
0              My Teachers     18358    17065    0.518251   0.481749
5              My Teachers      1186     2883    0.653359   0.481749
1                    Other     12432     9130    0.576570   0.423430
3          Size of Classes      3969     2154    0.648212   0.351788

# Making Changes in Data

In [22]:
#Adding Column by adding values of other two columns
 
df['Total_Count'] = df['YesCount'] + df['NoCount'] 

df

,Content,YesCount,NoCount,PercentYes,PercentNo,Total_Count
0,My Teachers,18358,17065,0.518251,0.481749,35423
1,Other,12432,9130,0.576570,0.423430,21562
2,Motivated and Work Hard,11918,8715,0.577618,0.422382,20633
3,Size of Classes,3969,2154,0.648212,0.351788,6123
4,Books and Resources,3790,2544,0.598358,0.401642,6334
5,My Teachers,1186,2883,0.653359,0.481749,4069

In [23]:
#Dropping(Delete) a column

df.drop(columns='Total_Count')

                   Content  YesCount  NoCount  PercentYes  PercentNo
0              My Teachers     18358    17065    0.518251   0.481749
1                    Other     12432     9130    0.576570   0.423430
2  Motivated and Work Hard     11918     8715    0.577618   0.422382
3          Size of Classes      3969     2154    0.648212   0.351788
4      Books and Resources      3790     2544    0.598358   0.401642
5              My Teachers      1186     2883    0.653359   0.481749

In [24]:
#Equating a new column values of other columns using iloc
#For all rows, we take column 2 to 4, it's sum where axis 1 means we considering horizontal axis

#in this case - NoCount, PercentYes, PercentNo

df['Total_Count'] = df.iloc[:,2:5].sum(axis=1) 

df

,Content,YesCount,NoCount,PercentYes,PercentNo,Total_Count
0,My Teachers,18358,17065,0.518251,0.481749,17066.000000
1,Other,12432,9130,0.576570,0.423430,9131.000000
2,Motivated and Work Hard,11918,8715,0.577618,0.422382,8716.000000
3,Size of Classes,3969,2154,0.648212,0.351788,2155.000000
4,Books and Resources,3790,2544,0.598358,0.401642,2545.000000
5,My Teachers,1186,2883,0.653359,0.481749,2884.135108

In [25]:
#List of Columns

cols = list(df.columns)

cols

['Content', 'YesCount', 'NoCount', 'PercentYes', 'PercentNo', 'Total_Count']

In [26]:
#Rearranging Total column to 4th column

df = df[cols[0:4] + [cols[-1]] + cols[4:]]


#We use brackets for [cols[-1]] cause otherwise, it will be considered as a single string 
#since we get only one value from it


df

,Content,YesCount,NoCount,PercentYes,Total_Count,PercentNo,Total_Count
0,My Teachers,18358,17065,0.518251,17066.000000,0.481749,17066.000000
1,Other,12432,9130,0.576570,9131.000000,0.423430,9131.000000
2,Motivated and Work Hard,11918,8715,0.577618,8716.000000,0.422382,8716.000000
3,Size of Classes,3969,2154,0.648212,2155.000000,0.351788,2155.000000
4,Books and Resources,3790,2544,0.598358,2545.000000,0.401642,2545.000000
5,My Teachers,1186,2883,0.653359,2884.135108,0.481749,2884.135108

# Saving Data

#To save as a csv file:
df.to_csv('modified.csv', index=False)


#To save as an excel file:
df.to_excel('modified.xlsx', index=False)


#To save as a tab separated text file:
df.to_csv('modified.txt', index=False, sep='\t')

# Filtering Data

In [28]:
df.loc(['Content'] == 'My Teachers')